@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;


html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}
.touch-scrollable {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}


.active {
  color: #fff; /* Cambia el color de enlace activo según tus estilos */
  font-weight: bold; /* Cambia el estilo según tus preferencias */
}
